<div class="modal-dialog">
    <div class="modal-content">
        <form id="formulario" action="{% url 'empresa_urls:delete' empresa.id %}" role="form" class="form-control-line"
            method="POST">
            {% csrf_token %}
            <div class="card card-outline-danger">
                <div class="card-header">
                    <h4 class="m-b-0 text-white mt-2 mb-2">Eliminar Empresa <i
                            class="fa fa-building-o fa-2x text-white float-right"></i>
                    </h4>
                </div>
                <div class="card-body little-profile">
                    <div class="container">
                        <p>Esta seguro de eliminar la empresa "{{empresa.nombre}}" de forma permanente? </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Si, eliminar</button>
                <a href="" onclick="return cerrar_modal()" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>
