<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="formulario" action="{% url 'empresa_urls:create' %}" role="form" class="form-control-line"
            method="POST">
            {% csrf_token %}
            <div class="card card-outline-success">
                <div class="card-header">
                    <h4 class="m-b-0 text-white mt-2 mb-2">Nueva Empresa <i
                            class="fa fa-building-o fa-2x text-white float-right"></i>
                    </h4>
                </div>
                <div class="card-body little-profile">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="id_nit">Nit:</label>
                                    <input name="nit" id="id_nit" required type="text" class="form-control"
                                        value="{% if form.nit.value %}{{form.nit.value}}{%endif%}">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="id_nombre">Nombre:</label>
                                    <input name="nombre" id="id_nombre" required type="text" class="form-control"
                                        value="{% if form.nombre.value %}{{form.nombre.value}}{%endif%}">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="id_direccion">Direccion:</label>
                                    <input name="direccion" id="id_direccion" required type="text"
                                        class="form-control form-control-line"
                                        value="{% if form.direccion.value %}{{form.direccion.value}}{%endif%}">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="id_telefono">Telefono:</label>
                                    <input name="telefono" id="id_telefono" required type="text"
                                        class="form-control form-control-line"
                                        value="{% if form.telefono.value %}{{form.telefono.value}}{%endif%}">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="id_email">Email:</label>
                                    <input name="email" id="id_email" required type="email"
                                        class="form-control form-control-line"
                                        value="{% if form.email.value %}{{form.email.value}}{%endif%}">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="id_logo">Logo:</label>
                                    <input type="file" required name="logo" class="form-control-file" id="id_logo"
                                        value="{% if form.logo.value %}{{form.logo.value}}{%endif%}">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2 border-top border-bottom border-success">
                            <div class="col-lg-6 mt-2">
                                <div class="form-group">
                                    <label for="id_representante">Representante Legal:</label>
                                    <input name="representante" id="id_representante" required type="text" class="form-control"
                                        value="{% if form.representante.value %}{{form.representante.value}}{%endif%}">
                                </div>
                            </div>
                            <div class="col-lg-6 mt-2">
                                <div class="form-group">
                                    <label for="id_cedula">Cedula:</label>
                                    <input name="cedula" id="id_cedula" required type="text" class="form-control"
                                        value="{% if form.cedula.value %}{{form.cedula.value}}{%endif%}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Crear</button>
                <a href="" onclick="return cerrar_modal()" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>


<script>
    $(function () {

        var url = $('#formulario').attr("action");
        var token = jQuery("[name=csrfmiddlewaretoken]").val();

        $("form").submit(function (e) {
            e.preventDefault();

            //toca hacerlo sin el serealizeArray porque no captura la imagen
            var form = $('#formulario')[0];
            var formData = new FormData(form);

            $.ajax({
                url: url,
                method: "POST",
                headers: { 'X-CSRFToken': token },
                processData: false,
                contentType: false,
                data: formData,
            })
                .done(function (r, textStatus, xhr) {
                    if (xhr.status = 200) {
                        cerrar_modal()
                        setTimeout('document.location.reload()', 1000);
                        mensaje('Empresa creada satisfactoriamente', 'success');
                    }
                    else {
                        mensaje(textStatus, 'error');
                    }
                }).fail(function (error) {

                    var x = document.getElementById("formulario");
                    for (i = 0; i < x.length; i++) {
                        x.elements[i].style.borderColor = "green";
                    }

                    var r = error.responseJSON
                    for (var clave in r) {
                        // Controlando que json realmente tenga esa propiedad
                        if (r.hasOwnProperty(clave)) {
                            // Mostrando en pantalla la clave junto a su valor
                            var input = 'id_' + String(clave);
                            document.getElementById(input).style.borderColor = "red";
                            mensaje(String(r[clave]), 'error')
                        }
                    }
                })
        })
    });
</script>