{% extends 'core/base.html' %}
{% load static %}
{% block title_contend %}{% endblock title_contend %}
{% block contend %}
<div class="row">
    <div class="col-12">
        <div class="card shadown card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Proveedores</h4>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle">Gestione sus proveedores de forma ordenada y segura.</h6>
                <button type="button" class="btn waves-effect waves-light btn-success mb-3"
                onclick="return abrir_modal('{% url 'proveedor_urls:create' %}')">
                    + Crear un nuevo proveedor.
                </button>
                <div class="table-responsive">
                    {% if not proveedor_list %}
                    <div class="alert alert-info" role="alert">
                        No hay proveedores para mostrar
                    </div>
                    {% else %}
                    <table data-classes="table table-hover earning-box" data-toggle="table" data-search="true"
                        id="table" data-show-export="true" data-pagination="true" data-show-fullscreen="true"
                        data-locale="es-CL" data-page-size="5" data-page-list="[5, 10, 25, all]">
                        <thead>
                            <tr>
                                <th data-sortable="true" data-field="nombre">Proveedor</th>
                                <th data-sortable="true" data-field="telefono">Telefono</th>
                                <th data-sortable="true" data-field="direccion">Direccion</th>
                                <th data-sortable="true" data-field="contacto">Contacto</th>
                                <th data-sortable="true" data-field="email">Email</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for proveedor in proveedor_list %}
                            <tr>
                                <td>{{proveedor.nombre}}</td>
                                <td>{{proveedor.telefono}}</td>
                                <td>{{proveedor.direccion}}</td>
                                <td>{{proveedor.contacto}}</td>
                                <td>{{proveedor.email}}</td>
                                <td>
                                    <button type="button" class="btn waves-effect waves-warning btn-warning"
                                        onclick="return abrir_modal('{% url 'proveedor_urls:update' proveedor.id %}')">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" class="btn waves-effect waves-danger btn-danger">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contend %}