{% extends 'core/base.html' %}
{% block title_contend %}{% endblock title_contend %}
{% block contend %}

<div class="row">
    <div class="col-12">
        <div class="card shadown card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Historial</h4>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle">Gestione los cambios que se hacen en sus empresas.</h6>
                <div class="table-responsive">
                    {% if not revision_list %}
                    <div class="alert alert-info" role="alert">
                        No hay registros para mostrar
                    </div>
                    {% else %}
                    <table data-classes="table table-hover earning-box" data-toggle="table" data-search="true"
                        id="table" data-show-export="true" data-pagination="true" data-show-fullscreen="true"
                        data-locale="es-CL" data-page-size="5" data-page-list="[5, 10, 25, all]">
                        <thead>
                            <tr>
                                <th data-sortable="true" data-field="first_name">Autor</th>
                                <th data-sortable="true" data-field="comment">Accion</th>
                                <th data-sortable="true" data-field="data_crated">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for revision in revision_list %}
                            <tr>
                                <td class="d-flex align-items-center">
                                    <span class="round mr-3"><img src="" alt="user" width="50"
                                            height="50"></span>
                                    <h6>{{revision.user}}<br><small class="text-muted">Web Designer</small></h6>
                                </td>
                                <td>{{revision.comment}}</td>
                                <td>{{revision.date_created|date:"d/m/yy"}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contend %}