{% extends 'core/base.html' %}
{% load static %}
{% block contend %}
<div class="row">
    <div class="col-12">
        <div class="card shadown card-outline-primary">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Usuarios</h4>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle">Gestione los usuarios de sus empleados de forma ordenada y segura.</h6>
                <button type="button" class="btn waves-effect waves-light btn-success mb-3"
                    onclick="return abrir_modal('{% url 'user_urls:create' %}')">
                    + Crear un nuevo usuario.
                </button>
                <button type="button" class="btn waves-effect waves-light btn-danger mb-3 float-right"
                    onclick="return abrir_modal('{% url 'user_urls:disable-list' %}')">
                    Usuarios Inactivos.
                </button>
                <div class="table-responsive">
                    {% if not user_list %}
                    <div class="alert alert-info" role="alert">
                        No hay usuarios para mostrar
                    </div>
                    {% else %}
                    <table data-classes="table table-hover earning-box" data-toggle="table" data-search="true"
                        id="table" data-show-export="true" data-pagination="true" data-show-fullscreen="true"
                        data-locale="es-CL">
                        <thead>
                            <tr>
                                <th data-sortable="true" data-field="username">Usuario</th>
                                <th data-sortable="true" data-field="nombre">Empresa</th>
                                <th data-sortable="true" data-field="email">Email</th>
                                <th data-sortable="true" data-field="last_login">Ultima seccion</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_list %}
                            <tr>
                                <td class="d-flex align-items-center">
                                    <span class="round mr-3"><img {% if user.foto %} src="{{user.foto.url}}" {% else %}
                                            src="{% static 'core/assets/images/no-avatar.jpg' %}" {% endif %} alt="user"
                                            width="50" height="50"></span>
                                    <h6>{{user.first_name}} {{user.last_name}}<br>
                                        <small
                                            class="text-muted">{% for group in user.groups.all %}{{group}}{% if not forloop.last %},
                                            {%endif%}{% endfor %}
                                        </small>
                                    </h6>
                                </td>
                                <td>{{user.empresa}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.last_login}}</td>
                                <td><span class="label label-success">Activo</span></td>
                                <td><button type="button" class="btn waves-effect waves-warning btn-warning"
                                        onclick="return abrir_modal('{% url 'user_urls:update' user.id %}')">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" class="btn waves-effect waves-danger btn-danger"
                                        onclick="return abrir_modal('{% url 'user_urls:disable' user.id %}')">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contend %}