{% load static %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="card card-outline-primary">
            <div class="card-header">
                <h4 class="m-b-0 text-white mt-2 mb-2">Usuarios Inactivas
                    <i class="fa fa-building-o fa-2x text-white float-right"></i>
                </h4>
            </div>
            <div class="card-body little-profile">
                <div class="container">
                    <div class="table-responsive">
                        {% if not user_list %}
                        <div class="alert alert-info" role="alert">
                            No hay usuarios inactivos para mostrar
                        </div>
                        {% else %}
                        <table class="table table-hover earning-box">
                            <thead>
                                <tr>
                                    <th colspan="2">Usuario</th>
                                    <th>Empresa</th>
                                    <th>Ultima seccion</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in user_list %}
                                <tr>
                                    <td style="width:50px;">
                                        <span class="round"><img {% if user.foto %} src="{{user.foto.url}}" {% else %}
                                                src="{% static 'core/assets/images/no-avatar.jpg' %}" {% endif %}
                                                alt="user" width="50" height="50"></span>
                                    </td>
                                    <td>
                                        <h6>{{user.first_name}} {{user.last_name}}</h6>
                                        <small class="text-muted">
                                            {% for group in user.groups.all %}{{group}}{% if not forloop.last %},
                                            {%endif%}{% endfor %}
                                        </small>
                                    </td>
                                    <td>{{user.empresa}}</td>
                                    <td>{{user.last_login}}</td>
                                    <td><span class="label label-danger">Inactivo</span></td>
                                    <td>
                                        <a type="button" href="{% url 'user_urls:active' user.id %}"
                                            class="btn waves-effect waves-success btn-outline-info">
                                            Activar
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="" onclick="return cerrar_modal()" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
</div>