<div class="modal-dialog">
    <div class="modal-content">
        <form id="formulario" action="{% url 'user_urls:disable' user.id %}" role="form" class="form-control-line"
            method="POST">
            {% csrf_token %}
            <div class="card card-outline-danger">
                <div class="card-header">
                    <h4 class="m-b-0 text-white mt-2 mb-2">Inactivar Usuario<i
                            class="fa fa-building-o fa-2x text-white float-right"></i>
                    </h4>
                </div>
                <div class="card-body little-profile">
                    <div class="container">
                        <p>Esta seguro de inactivar el usuario "{{user.first_name}} {{user.last_name}}" ? </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Si</button>
                <a href="" onclick="return cerrar_modal()" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>
